.privacy-page {

    &__main-title {
        font-size: 60px;
        color: var(--color-brand-dark);
        font-weight: 600;
        margin: 60px 0 30px;
        text-align: center;

        @media screen and (max-width: $md) {
            font-size: 30px;
            margin: 30px 0 10px;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 25px;

        @media screen and (max-width: $md) {
            font-size: 25px;
        }
    }

    &__text {
        @media screen and (max-width: $md) {
            font-size: 16px;
        }
    }
}