:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-dark: #742a6c;
    --color-brand-normal: #9b4f92;
    --color-brand-light: #eccdf3;
    --color-secondary-dark: #A18268;
}

$sm: 544px;
$md: 769px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;